.navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.navigation{
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links:hover {
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.icone-user{
  display: inline-block;
  visibility: visible;
  color: inherit;
  text-align: center;
}

